[submodule "3rdparty/sqlpp11"]
	path = 3rdparty/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
	branch = main
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "3rdparty/QuickUI"]
	path = 3rdparty/QuickUI
	url = https://github.com/QWERDF007/QuickUI.git
	branch = main
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	branch = master
[submodule "3rdparty/EasyTrain"]
	path = 3rdparty/EasyTrain
	url = https://github.com/QWERDF007/EasyTrain.git
	branch = main
[submodule "3rdparty/hwinfo"]
	path = 3rdparty/hwinfo
	url = https://github.com/lfreist/hwinfo.git
	branch = main
